<template>
  <div id="registAuction">
    <div class="header-container">
      <div class="title-container" style="display: flex; justify-content: space-between">
        <div class="title">
          <span><label class="farm">Farm : </label><label class="products">{{ selectedFarmName }}</label></span>
        </div>
        <a-button
          class="oa-button is-primary is-invert mg-r-10px"
          size="large"
          @click="onPreviousState"
        >
          ย้อนกลับ
        </a-button>
      </div>
    </div>
    <div class="body">
      <auction-price
        :user="user"
        :price-start="priceStart"
        @changePriceStart="e => $emit('update:priceStart', e)"
      />
      <div class="dp-flex al-it-center jtf-ct-center">
        <div class="t-al-center">
          <label class="title">วันที่เปิดประมูล</label>
          <a-form class="form">
            <a-form-item>
              <a-date-picker
                v-validate="'required'"
                name="dateTimeStart"
                :default-value="dateTimeStart ? moment(dateTimeStart) : undefined"
                :disabled-date="current => disabledStartDate(Date.now(), current)"
                placeholder="เลือกวันที่เปิดประมูล"
                @change="moment => onChangeDate('dateTimeStart', moment)"
              />
            </a-form-item>
          </a-form>
        </div>
        <div class="t-al-center">
          <p style="margin: 0 10px;">
            ~
          </p>
        </div>
        <div class="t-al-center">
          <label class="title">วันที่ปิดประมูล</label>
          <a-form class="form">
            <a-form-item>
              <a-date-picker
                v-validate="'required'"
                name="dateTimeEnd"
                :disabled="!dateTimeStart"
                :default-value="dateTimeStart ? moment(dateTimeEnd) : undefined"
                :disabled-date="current => disabledEndDate( dateTimeStart ? moment(dateTimeStart) : undefined, current)"
                placeholder="เลือกวันที่ปิดประมูล"
                @change="moment => onChangeDate('dateTimeEnd', moment)"
              />
            </a-form-item>
          </a-form>
        </div>
      </div>
      <div class="t-al-center">
        <a-button
          :disabled="errors.any() || !priceStart || !dateTimeStart || !dateTimeEnd"
          class="oa-button is-primary"
          size="large"
          @click="onSubmitCreateAuction"
        >
          ทำการเปิดการประมูล
        </a-button>
      </div>
      <div class="dp-flex f-drt-column al-it-center mg-t-21px">
        <label class="f-s-1-2">* เมื่อทำการกด “ทำการเปิดประมูล” ระบบจะทำการส่งรหัส OTP ให้กับเบอร์มือถือที่ท่านลงทะเบียนไว้</label>
        <label class="f-s-1-2">* รหัส OTP ที่ได้รับ จะนำไปใช้สำหรับการยืนยันการเปิดประมูล</label>
      </div>
    </div>
  </div>
</template>

<script>
import AuctionPrice from '~/components/auction-page/open/auction-price.vue'

export default {
  components: { AuctionPrice },
  props: {
    selectedFarmName: {
      type: String,
      default: '-'
    },
    priceStart: String,
    dateTimeStart: String,
    dateTimeEnd: String,
    disabledDate: Function,
    expectedHarvestDateTimeEnd: String,
    user: {
      type: Object,
      default: () => {}
    }
  },
  methods: {
    onSubmitCreateAuction () {
      this.$emit('submitCreateAuction')
    },
    onChangeDate (key, moment) {
      this.$emit(`update:${key}`, moment ? moment.format() : moment)
    },
    disabledStartDate (current, startValue) {
      return this.moment(current).diff(startValue, 'days') > 0
    },
    disabledEndDate (current, endValue) {
      return this.moment(endValue).diff(current, 'days') <= 0
    },
    onPreviousState () {
      this.$emit('previousState')
    },
    moment: require('moment')
  }
}
</script>

<style lang="scss" scoped>
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
  .title {
    > span {
      .farm {
        font-size: 18px;
        font-weight: 500;
        color: #424242;
      }
      .products {
        font-size: 18px;
        font-weight: 500;
        color: #FF9300;
      }
    }
  }
}
</style>
