<template>
  <base-container>
    <div class="farm__container mg-t-21px">
      <section class="farm__form">
        <h2 class="farm__title">
          {{ article.title }}
        </h2>
      </section>
      <div class="content-header">
        <div>
          <a-tag v-for="cate in article.categories" :key="cate.id" color="blue">
            {{ cate.title }}
          </a-tag>
        </div>
        <div class="author">
          By {{ article.author.username }}
        </div>
      </div>
      <div class="thumbnail-container">
        <img class="thumbnail" :src="article.thumbnailUrl">
      </div>
      <div class="content">
        <div v-html="article.content" />
      </div>
    </div>
  </base-container>
</template>

<script>
import { get } from 'vuex-pathify'
export default {
  name: 'ArticleDetailPage',
  layout: 'gray-background',
  computed: {
    article: get('article/article')
  },
  async asyncData ({ store, params }) {
    await store.dispatch('article/fetchArticle', params.id)
  },
  data () {
    return {
    }
  },
  methods: {
  }
}
</script>

<style lang="less" scoped>
.end-line () {
  border-bottom: 1px solid rgba(158, 158, 158, 0.4);
}
.farm {
  &__container {
    background: white;
    @media only screen and (min-width: 480px) {
      // min-height: 576px;
    }
  }
  &__title {
    font-size: 2.4rem;
    font-weight: 500;
    text-align: center;
    padding: 28px 28px 10px 28px;
    color: #ff9300;
  }
  &__content {
    padding: 0 33px;
  }
}
.preview {
  margin-top: 4px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
}
.content-header {
  text-align: right;
  padding: 0 24px;
  margin-bottom: 24px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.author {
  margin-top: 10px;
  padding-right: 10px;
}
.thumbnail-container {
  display: flex;
  justify-content: center;
}
.thumbnail {
  width: 100%;
  max-width: 800px;
}
.content {
  padding: 24px;
  /deep/ img {
    max-width: 800px !important;
    width: 100% !important;
    height: auto !important;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}
</style>
