<template>
  <base-container>
    <a-card class="mg-vtc-21px">
      <section class="pd-bt-70px has-line">
        <h2 class="title has-line">
          แจ้งการโอนเงิน
        </h2>
        <div class="pd-l-33px">
          <p>สามารถโอนเงินเข้าบัญชีดังต่อไปนี้</p>
          <p>ธนาคาร : ธนาคาร ทหารไทย จำกัด มหาชน<br>เลขที่บัญชี : 1-234-5678</p>
          <p>ธนาคาร : ธนาคาร ไทยพาณิชย์ จำกัด มหาชน<br>เลขที่บัญชี : 1-234-5678</p>
          <a-row :gutter="30">
            <a-col :lg="{ span: 12 }">
              <a-row type="flex" align="middle">
                <a-col :span="12" class="t-al-end">
                  <label class="field-label">ประเภทธุรกรรม: </label>
                </a-col>
                <a-col :span="12">
                  <a-select
                    placeholder="ประเภทธุรกรรม"
                    class="w-100pct"
                    @change="(value) => transactionType = value"
                  >
                    <a-select-option value="เพิ่มเงินค้ำประกันเครดิต">
                      เพิ่มเงินค้ำประกันเครดิต
                    </a-select-option>
                    <a-select-option value="ถอนเงินค้ำประกันเครดิต">
                      ถอนเงินค้ำประกันเครดิต
                    </a-select-option>
                    <a-select-option value="ชำระค่ามัดจำ">
                      ชำระค่ามัดจำ
                    </a-select-option>
                    <a-select-option value="ชำระส่วนที่เหลือ">
                      ชำระส่วนที่เหลือ
                    </a-select-option>
                    <a-select-option value="ชำระเต็มจำนวน">
                      ชำระเต็มจำนวน
                    </a-select-option>
                  </a-select>
                </a-col>
              </a-row>
              <a-row type="flex" align="middle" class="pd-t-11px">
                <a-col :span="12" class="t-al-end">
                  <label class="field-label">เลข Reference: </label>
                </a-col>
                <a-col :span="12">
                  <a-input v-model="refId" placeholder="Reference" />
                </a-col>
              </a-row>
              <a-row type="flex" align="middle" class="pd-t-11px">
                <a-col :span="12" class="t-al-end">
                  <label class="field-label">โอนเข้าธนาคาร: </label>
                </a-col>
                <a-col :span="12">
                  <a-select placeholder="โอนเข้าธนาคาร" class="w-100pct" @change="(value) => bankName = value">
                    <a-select-option value="กรุงเทพ">
                      กรุงเทพ
                    </a-select-option>
                    <a-select-option value="กรุงไทย">
                      กรุงไทย
                    </a-select-option>
                    <a-select-option value="กรุงศรีอยุธยา">
                      กรุงศรีอยุธยา
                    </a-select-option>
                    <a-select-option value="กสิกรไทย">
                      กสิกรไทย
                    </a-select-option>
                    <a-select-option value="ซีไอเอ็มบี ไทย">
                      ซีไอเอ็มบี ไทย
                    </a-select-option>
                    <a-select-option value="ทหารไทย">
                      ทหารไทย
                    </a-select-option>
                    <a-select-option value="ทิสโก้">
                      ทิสโก้
                    </a-select-option>
                    <a-select-option value="ไทยพาณิชย์">
                      ไทยพาณิชย์
                    </a-select-option>
                    <a-select-option value="ธนชาต">
                      ธนชาต
                    </a-select-option>
                    <a-select-option value="ยูโอบี">
                      ยูโอบี
                    </a-select-option>
                    <a-select-option value="แลนด์ แอนด์ เฮ้าส์">
                      แลนด์ แอนด์ เฮ้าส์
                    </a-select-option>
                    <a-select-option value="ไอซีบีซี (ไทย)">
                      ไอซีบีซี (ไทย)
                    </a-select-option>
                  </a-select>
                </a-col>
              </a-row>
              <a-row type="flex" align="middle" class="pd-t-11px">
                <a-col :span="12" class="t-al-end">
                  <label class="field-label">วันที่โอน: </label>
                </a-col>
                <a-col :span="12">
                  <a-date-picker
                    v-validate="'required'"
                    placeholder="วันที่โอน"
                    class="w-100pct"
                    name="dateTimeStart"
                    @change="moment => onChangeDate(moment)"
                  />
                </a-col>
              </a-row>
              <a-row type="flex" align="middle" class="pd-t-11px">
                <a-col :span="12" class="t-al-end">
                  <label class="field-label">เวลาที่โอน: </label>
                </a-col>
                <a-col :span="12">
                  <a-time-picker
                    placeholder="เวลาที่โอน"
                    class="w-100pct"
                    @change="moment => onChangeTime(moment)"
                  />
                </a-col>
              </a-row>
              <a-row type="flex" align="middle" class="pd-t-11px">
                <a-col :span="12" class="t-al-end">
                  <label class="field-label">ยอดเงิน (บาท): </label>
                </a-col>
                <a-col :span="12">
                  <a-input-number :min="0" v-model="amount" placeholder="ยอดเงิน (บาท)" class="w-100pct" />
                </a-col>
              </a-row>
              <a-row type="flex" align="middle" class="pd-t-11px">
                <a-col :span="12" class="t-al-end">
                  <label class="field-label">สลิปการโอน : </label>
                </a-col>
                <a-col :span="12">
                  <a-upload
                    :multiple="false"
                    :file-list="fileList"
                    :before-upload="beforeUpload"
                    :show-upload-list="{
                      showPreviewIcon: false
                    }"
                  >
                    <a-button>
                      <a-icon type="upload" /> Select File
                    </a-button>
                  </a-upload>
                </a-col>
                <a-col :span="12" class="pd-t-11px" />
                <a-col :span="12" class="pd-t-11px">
                  <img :src="url" style="width: 300px">
                </a-col>
              </a-row>
            </a-col>
            <!-- <a-col :lg="{ span: 12 }">
              <div>Dev Remark</div>
              <p>
                ประเภทธุรกรรม<br />
                - ชำระค่ามัดจำ<br />
                - ชำระเต็มจำนวน<br />
              </p>
              <p>
                - เพิ่มเงินค้ำประกัน *<br />
                - ถอนเงินเงินค้ำประกัน *<br />
              </p>
              <p>* แสดง field ประเภทธุรกรรม, ยอดเงิน</p>
            </a-col> -->
          </a-row>
        </div>
      </section>
      <section class="pd-t-37px dp-flex jtf-ct-flex-end">
        <a-button class="oa-button mg-r-18px">
          ยกเลิก
        </a-button>
        <a-button class="oa-button is-primary" @click="handleSubmit">
          บันทึก
        </a-button>
      </section>
    </a-card>
    <loading-modal v-if="isLoading" />
  </base-container>
</template>

<script>
import { call } from 'vuex-pathify'
import LoadingModal from '~/components/loading-modal.vue'

export default {
  name: 'PaymentPage',
  layout: 'gray-background',
  middleware: 'authenticated',
  components: {
    LoadingModal
  },
  data () {
    return {
      file: null,
      url: null,
      fileList: [],
      isLoading: false,
      previewImage: '',
      refId: null,
      bankName: null,
      transactionType: null,
      transactionDate: null,
      transactionTime: null,
      amount: 0
    }
  },
  created () {
  },
  methods: {
    ...call('payment', [
      'createPaymentSlip'
    ]),
    handleSubmit () {
      this.isLoading = true
      const payload = new FormData()
      payload.append('ref_id', this.refId)
      payload.append('bank_name', this.bankName)
      payload.append('transaction_type', this.transactionType)
      payload.append('transaction_date', this.transactionDate)
      payload.append('transaction_time', this.transactionTime)
      payload.append('amount', this.amount)
      if (this.file) { payload.append('bank_account_url', this.file) }

      const formEntries = Array.from(payload.entries())
      console.log('formEntries ', formEntries)
      this.createPaymentSlip(payload).then(() => {
      }).then((res) => {
        this.openNotificationWithIcon('success', 'สำเร็จ', 'แจ้งการโอนสำเร็จ')
      }).catch(() => {
        this.openNotificationWithIcon('error', 'ไม่สำเร็จ', 'แจ้งการโอนไม่สำเร็จ โปรดตรวจสอบอีกครั้ง')
      }).finally(() => {
        this.isLoading = false
      })
    },
    beforeUpload (file) {
      console.log('change', file)
      this.file = file
      this.fileList = [file]
      this.url = URL.createObjectURL(file)
      return false
    },
    removeUploadFile () {
      this.file = null
      this.fileList = []
    },
    onChangeDate (date) {
      this.transactionDate = date.format('YYYY-MM-DD')
    },
    onChangeTime (time) {
      this.transactionTime = time.format('HH:mm:ss')
      console.log(this.transactionTime)
    },
    openNotificationWithIcon (type, message, description) {
      this.$notification[type]({
        message,
        description,
        duration: 2
      })
    },
    moment: require('moment')
  }
}
</script>

<style lang="less" scoped>
.end-line () {
  border-bottom: 1px solid rgba(158, 158, 158, 0.4);
}
.has-line {
  .end-line();
}
.title {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 24px;
  padding-bottom: 10px;
}

.field {
  display: flex;
  align-items: center;
  &:not(:first-child) {
    padding-top: 11px;
  }
  &-label {
    text-align: right;
    min-width: 135px;
    font-size: 1.5rem;
    margin-right: 20px;
  }
}

.w-200px {
  width: 200px;
}
</style>
